.body {
    margin: 0;
}

.header {
    max-height: 15vw;
    height: 150px;
    display: flex;
    background-image: url(../img/Медаль.png);
    background-size: 50px;
    background-color: rgba(69, 155, 96, 0.5);
    width: 100%;
    background-position: center;
}

.centered-block {
    margin: auto;
}

.header__text {
    font-size: 34px;
    text-decoration: none;
    background-color: rgb(162, 205, 175);
}

.content {
    padding: 30px;
}

.contentBlock {
    background-color: rgb(162, 205, 175);
    outline: #FFE082 solid 2px;
    padding-left: 10px;
    padding-right: 10px;
}

.title {
    font-size: 24px;
    font-weight: bold;
}

.text {
    font-size: 18px;
    font-weight: normal;
}

.menu {
    background-color: rgb(162, 205, 175);
    display: flex;
    justify-content: center;
    height: 75px;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
}

.menu__link {
    margin-right: 150px;
    font-size: 18px;
    text-decoration: underline;
    color: #10191E;
}

.link2 {
    margin-right: 0px;
}

.content__main_text {
    font-size: 20px;
}

.content__main {
    display: flex;
    height: 355px;
    margin: auto;
    max-width: 1000px;
}

.main-text {
    width: 75%;
}

.photo {
    width: 45%;
    background-image: url(../img/Фото.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    margin-left: 40px;
}

.content__rest {
    min-height: 150px;
    padding-top: 1px;
    overflow: auto;
    margin: 30px auto;
    max-width: 1000px;
}

.content__link {
    height: 35px;
    display: flex;
    justify-content: center;
    font-size: 25px;
    margin: auto;
    max-width: 1000px;
}

.content__clock {
    max-width: 1000px;
    margin: 30px auto auto auto;
    min-height: 50px;
    font-size: 30px;
    padding-bottom: 50px;
    padding-top: 2px;
    text-align: center;
    margin-bottom: 30px;
}

.content__feedback-button {
    margin-bottom: 30px;
    background-color: rgb(162, 205, 175);
    margin-left: auto;
    margin-right: auto;
    height: 50px;
    max-width: 400px;
    display: none;
    text-decoration: underline;
    font-size: 15px;
    padding-left: 7px;
}

.content__picture-button {
    display: flex;
    flex-flow: row wrap;
}

.picture-button {
    background-color: rgb(162, 205, 175);
    width: 125px;
    text-decoration: underline;
}

.button2 {
    margin-left: auto;
}

.svg-block {
    border: none;
    width: 100%;
    height: 100px;
}

.footer {
    justify-content: center;
    background-color: rgb(162, 205, 175);
    bottom: 0px;
    height: 150px;
    max-height: 40vw;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.contacts {
    max-width: 95%;
    width: 500px;

}

.contactsBlock {
    margin: auto;
    margin-right: 15px;
}

.list {
    list-style: none;
    display: flex;
}

.contactsBlock__img {
    height: 20px;
    width: 20px;
    background-size: contain;
    background-repeat: no-repeat;
    display: inline-block;
}

.contactsBlock__link {
    font-size: 15px;
    color: black;
}

.vk {
    background-image: url(../img/VK.svg);
}

.tg {
    background-image: url(../img/Telegram.svg);
}

.email {
    height: 17px;
    background-image: url(../img/Email.png);
}

.popap {
    position: fixed;
    height: 150px;
    width: 400px;
    background-color: rgb(162, 205, 175);
    outline: #FFE082 solid 2px;
    top: calc(50% - 100px);
    left: calc(50% - 200px);
    margin: auto;
    text-align: center;
    font-size: 24px;
    padding: 25px 7px 0px;
    z-index: 3;
    display: none;
}

.button {
    background-color: rgb(162, 205, 175);
}

.blackout {
    z-index: 1;
    top: 0;
    left: 0;
    position: fixed;
    height: 100vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
}

.picture {
    position: fixed;
    z-index: 3;
    top: calc(50% - 250px);
    left: calc(50% - 250px);
    display: none;
    flex-flow: row wrap;
}

.picture-card {
    height: 500px;
    width: 500px;
    background-image: url(../img/picture1.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    display: flex;
    flex-flow: row wrap;
}

.picture-card__button {
    background-color: rgba(0, 0, 0, 0);
    height: 50px;
    width: 50px;
    align-self: center;
    background-size: contain;
}

.button-left {
    border: none;
    background-image: none;
    background-repeat: no-repeat;
}

.button-right {
    margin-left: auto;
    border: none;
    background-image: url(../img/right.svg);
    background-repeat: no-repeat;
}

.button-close {
    margin-left: 15px;
    background-color: rgba(0, 0, 0, 0);
    background-image: url(../img/Крестик.svg);
    background-repeat: no-repeat;
    background-size: contain;
    border: none;
    height: 30px;
    width: 30px;

}

.form {
    position: fixed;
    min-height: 150px;
    max-height: 90%;
    overflow-y: auto;
    width: 400px;
    background-color: rgb(162, 205, 175);
    outline: #FFE082 solid 2px;
    top: calc(20% - 100px);
    left: calc(50% - 200px);
    z-index: -1;
    opacity: 0;
    transition: 0.8s;
    text-align: center;
}

.form__input-container {
    border: 0;
}

.form__label {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin-bottom: 5px;
    padding: 0px 25px 15px;
    padding-right: 25px;
}

.form__item {
    margin-bottom: 5px;
    height: 30px;
}

.form__input-error {
    min-height: 0px;
    font-size: 12px;
    color: red;
}

.form__item_el_main-text {
    min-height: 50px;
    min-width: 300px;
    max-width: 350px;
    max-height: 150px;
}

.form__handlers {
    border: 0;
}

.form__button {
    background-color: rgb(162, 205, 175);
}


@media all and (max-width: 850px) {
    .menu {
        height: 50px;
    }

    .menu__link {
        margin-right: 80px;
    }
    
    .link2 {
        margin-right: 0px;
    }
    
    .content__main {
        flex-direction: column-reverse;
        justify-content: flex-end;
        align-items: center;
        min-height: 600px;
        margin: auto;
        max-width: 1000px;
        height: fit-content;
    }
    
    .main-text {
        width: 95%;
        min-height: 250px;
    }
    
    .photo {
        width: 100%;
        height: 320px;
        background-image: url(../img/Фото.jpg);
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
        margin: auto auto 30px auto;
    }

    .content__clock {
        font-size: 20px;
        padding-bottom: 30px;
    }

    .popap {
        min-height: 100px;
        width: 200px;
        top: calc(50% - 100px);
        left: calc(50% - 100px);
        font-size: 18px;
        padding: 15px 5px 0px;
    }

    .picture {
        top: calc(50% - 200px);
        left: calc(50% - 200px);;
    }
    
    .picture-card {
        height: 400px;
        width: 400px;
    }
    
    .picture-card__button {
        height: 40px;
        width: 40px;
    }
    
    .button-close {
        height: 24px;
        width: 24px;
    }

    .form {
        width: 300px;
        left: calc(50% - 150px);
    }

    .form__item_el_main-text {
        min-height: 50px;
        min-width: 200px;
        max-width: 250px;
        max-height: 100px;
    }
}

@media all and (max-height: 550px) {
    .picture {
        top: calc(50% - 200px);
        left: calc(50% - 200px);;
    }
    
    .picture-card {
        height: 400px;
        width: 400px;
    }
    
    .picture-card__button {
        height: 40px;
        width: 40px;
    }
    
    .button-close {
        height: 24px;
        width: 24px;
    }

    .form {
        height: 80%;
        top: calc(30% - 100px);
    }
}

@media all and ((max-width: 650px) or (max-height: 450px)) {
    .picture {
        top: calc(50% - 150px);
        left: calc(50% - 150px);;
    }
    
    .picture-card {
        height: 300px;
        width: 300px;
    }
    
    .picture-card__button {
        height: 30px;
        width: 30px;
    }
    
    .button-close {
        height: 18px;
        width: 18px;
    }

    .form {
        height: 75%;
        top: calc(35% - 100px);
    }
}

@media all and (max-width: 450px) {
    .picture {
        top: calc(50% - 125px);
        left: calc(50% - 125px);;
    }
    
    .picture-card {
        height: 250px;
        width: 250px;
    }
    
    .picture-card__button {
        height: 25px;
        width: 25px;
    }
    
    .button-close {
        margin-left: 7px;
        height: 15px;
        width: 15px;
    }
}