.body {
    margin: 0;
}

.header {
    max-height: 15vw;
    height: 150px;
    display: flex;
    background-image: url(../img/Медаль.png);
    background-size: 50px;
    background-color: rgba(69, 155, 96, 0.5);
    width: 100%;
    background-position: center;
}

.centered-block {
    margin: auto;
}

.header__text {
    font-size: 34px;
    text-decoration: none;
    background-color: rgb(162, 205, 175);
}

.content {
    padding: 30px;
}

.contentBlock {
    background-color: rgb(162, 205, 175);
    outline: #FFE082 solid 2px;
    padding-left: 10px;
    padding-right: 10px;
}

.title {
    font-size: 24px;
    font-weight: bold;
}

.text {
    font-size: 18px;
    font-weight: normal;
}

.content__main_text {
    font-size: 20px;
}

.content__main {
    display: flex;
    height: 355px;
    margin: auto;
    max-width: 1000px;
}

.main-text {
    width: 75%;
}

.photo {
    width: 45%;
    background-image: url(../img/Фото.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    margin-left: 40px;
}

@media all and (max-width: 850px) {
    .content__main {
        flex-direction: column-reverse;
        justify-content: flex-end;
        align-items: center;
        min-height: 600px;
        margin: auto;
        max-width: 1000px;
        height: fit-content;
    }
    
    .main-text {
        width: 95%;
        min-height: 250px;
    }
    
    .photo {
        width: 100%;
        height: 320px;
        background-image: url(../img/Фото.jpg);
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
        margin: auto auto 30px auto;
    }
}

.content__rest {
    min-height: 150px;
    padding-top: 1px;
    overflow: auto;
    margin: 30px auto;
    max-width: 1000px;
}

.content__link {
    height: 35px;
    display: flex;
    justify-content: center;
    font-size: 25px;
    margin: auto;
    max-width: 1000px;
}

.footer {
    justify-content: center;
    background-color: rgb(162, 205, 175);
    bottom: 0px;
    height: 150px;
    max-height: 40vw;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.contacts {
    max-width: 95%;
    width: 500px;

}

.contactsBlock {
    margin: auto;
    margin-right: 15px;
}

.list {
    list-style: none;
    display: flex;
}

.contactsBlock__img {
    height: 20px;
    width: 20px;
    background-size: contain;
    background-repeat: no-repeat;
    display: inline-block;
}

.contactsBlock__link {
    font-size: 15px;
    color: black;
}

.vk {
    background-image: url(../img/VK.svg);
}

.tg {
    background-image: url(../img/Telegram.svg);
}

.email {
    height: 17px;
    background-image: url(../img/Email.png);
}
