.body {
    margin: 0;
}

.header {
    max-height: 15vw;
    height: 150px;
    display: flex;
    background-image: url(../img/Медаль.png);
    background-size: 50px;
    background-color: rgba(69, 155, 96, 0.5);
    width: 100%;
    background-position: center;
}

.centered-block {
    margin: auto;
}

.header__text {
    font-size: 34px;
    text-decoration: none;
    background-color: rgb(162, 205, 175);
}

.content {
    padding: 30px;
}

.contentBlock {
    background-color: rgb(162, 205, 175);
    outline: #FFE082 solid 2px;
    padding-left: 10px;
    padding-right: 10px;
}

.title {
    font-size: 24px;
    font-weight: bold;
}

.text {
    font-size: 18px;
    font-weight: normal;
}

.menu {
    background-color: rgb(162, 205, 175);
    display: flex;
    justify-content: center;
    height: 75px;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
}

.menu__link {
    margin-right: 150px;
    font-size: 18px;
    text-decoration: underline;
    color: #10191E;
}

.link2 {
    margin-right: 0px;
}

.content__main_text {
    font-size: 20px;
}

.content__main {
    display: flex;
    height: 355px;
    margin: auto;
    max-width: 1000px;
}

.main-text {
    width: 75%;
}

.photo {
    width: 45%;
    background-image: url(../img/Фото.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    margin-left: 40px;
}

.content__rest {
    min-height: 150px;
    padding-top: 1px;
    overflow: auto;
    margin: 30px auto;
    max-width: 1000px;
}

.content__link {
    height: 35px;
    display: flex;
    justify-content: center;
    font-size: 25px;
    margin: auto;
    max-width: 1000px;
}

.content__clock {
    max-width: 1000px;
    margin: 30px auto auto auto;
    min-height: 50px;
    font-size: 30px;
    padding-bottom: 50px;
    padding-top: 2px;
    text-align: center;
}

.footer {
    justify-content: center;
    background-color: rgb(162, 205, 175);
    bottom: 0px;
    height: 150px;
    max-height: 40vw;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.contacts {
    max-width: 95%;
    width: 500px;

}

.contactsBlock {
    margin: auto;
    margin-right: 15px;
}

.list {
    list-style: none;
    display: flex;
}

.contactsBlock__img {
    height: 20px;
    width: 20px;
    background-size: contain;
    background-repeat: no-repeat;
    display: inline-block;
}

.contactsBlock__link {
    font-size: 15px;
    color: black;
}

.vk {
    background-image: url(../img/VK.svg);
}

.tg {
    background-image: url(../img/Telegram.svg);
}

.email {
    height: 17px;
    background-image: url(../img/Email.png);
}

.popap {
    position: fixed;
    height: 150px;
    width: 400px;
    background-color: rgb(162, 205, 175);
    outline: #FFE082 solid 2px;
    top: calc(50% - 100px);
    left: calc(50% - 200px);
    margin: auto;
    text-align: center;
    font-size: 24px;
    padding-top: 50px;
    z-index: 2;
    display: none;
}

.button {
    background-color: rgb(162, 205, 175);
}

.blackout {
    z-index: 1;
    top: 0;
    left: 0;
    position: fixed;
    height: 100vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
}


@media all and (max-width: 850px) {
    .menu {
        height: 50px;
    }

    .menu__link {
        margin-right: 80px;
    }
    
    .link2 {
        margin-right: 0px;
    }
    
    .content__main {
        flex-direction: column-reverse;
        justify-content: flex-end;
        align-items: center;
        min-height: 600px;
        margin: auto;
        max-width: 1000px;
        height: fit-content;
    }
    
    .main-text {
        width: 95%;
        min-height: 250px;
    }
    
    .photo {
        width: 100%;
        height: 320px;
        background-image: url(../img/Фото.jpg);
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
        margin: auto auto 30px auto;
    }

    .content__clock {
        font-size: 20px;
        padding-bottom: 30px;
    }

    .popap {
        height: 100px;
        width: 200px;
        top: calc(50% - 100px);
        left: calc(50% - 100px);
        font-size: 18px;
        padding-top: 15px;
        padding: 15px 5px 10px;
    }
}